<app-dashboard></app-dashboard>
    <div class="dashboard">
        <ul class="name-list">
            <h1>Services</h1>
            <li>Critical Care</li>
            <li>Nursing Assistance</li>
            <li>lab Assistance</li>
            <li>Medicine Delivery</li>
            <li>Wound Care</li>
            <li>Medical Equipments</li>
            <li>Nutritionist</li>
            <li>Skilled Nursing</li>
            <li>Doctor-Visit</li>
            <li>Physiotherapist</li>
            <li>Councling</li>
        </ul>
    </div>

