<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <img class="img1" src="../../assets/hlogo.jpg" alt="">

                    <li class="nav-item"><a class="nav-link active" aria-current="page"
                            routerLink="/nav/bookingmanagment" routerLinkActive="active"><button id="btn1">
                                <h6>Booking-Managment</h6>
                            </button></a>
                    </li>

                    <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/nav/services"
                            routerLinkActive="active"><button id="btn2">
                                <h6>Services</h6>
                            </button></a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="shopping-cart"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="users"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="bar-chart-2"></span> </a>
                    </li>
                    <br><br><br><br><br><br><br><br><br>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/Dashboard/login"
                            routerLinkActive="active" style="margin-left:-20px">
                            <h6> <img src="../../assets/log1.jpg" alt=""> LogOut</h6>
                        </a>
                    </li>
                    <span data-feather="layers"></span>
                    </a>
                    </li>
                </ul>
            </div>
        </nav>
        <router-outlet></router-outlet>